@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

body, .faq-item {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

.faq-container {
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin: 0 auto 40px;
  text-align: center;
}

.faq-list {
  list-style-type: none;
  padding: 10px;
}

.faq-item {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.faq-item:hover {
  background-color: #f9f9f9;
}

.question {
  font-weight: bolder;
  font-size: 20px;
}

.answer {
  display: none;
  margin: 30px 0 0;
}

.answer.active {
  display: block;
}

.faq-item .question {
  position: relative;
  padding-right: 30px;
}

.faq-item .question::after {
  content: "+";
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.faq-item .question.active::after {
  content: "-";
  transform: rotate(180deg);
}

#load-more-btn {
  display: none;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#load-more-btn:hover {
  background-color: #00000075;
}
